a:active { color: #666; } /** Seleciona o link ativo **/

a:first-child { color: #666; } /** Seleciona o primeiro elemento **/

a:hover { color: #666; } /** Seleciona o elemento onde o mouse está sobre **/

a:last-child { color: #666; } /** Seleciona o último elemento **/

a:nth-child(2) { color: #666; } /** Seleciona cada segundo elemento **/ 

a:visited { color: #666; } /** Seleciona o link visitado **/

input:required { color: #666; } /** Seleciona as entradas necessárias **/

input:focus { color: #666; } /** Seleciona entradas focadas **/

input:checked { color: #666; } /** Seleciona as entradas marcadas **/

input:disabled { color: #666; } /** Seleciona entradas desabilitadas **/

:not(p) { color: #666; } /** Seleciona todos os elementos que não são p **/